
<div class=" container mt-4 mb-4" id="registration" style="width: 20rem;">
  <div class="card-body">
    <h2 class="card-title">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <p class="card-text">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %></p>
    <p class="card-text"><%= f.label :password %><br />
     <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %></p>
    <p class="card-text"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
    <a><%= f.submit "Sign up", class:'btn btn-session btn-md'%></a><br>
    <%= render "devise/shared/links" %>
  </div>
</div>
<% end %>