
<div class="container  mt-4 mb-4" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Log in</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p class="card-text">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %></p>
    <p class="card-text"><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %></p>
    <% if devise_mapping.rememberable? %>
    <p class="card-text"><%= f.check_box :remember_me %>
      <%= f.label :remember_me %></p>
    <% end %>
    <p class="card-text"></p>
    <a><%= f.submit "Log in", class:'btn btn-session btn-md'%></a><br>
    <%= render "devise/shared/links" %>
  </div>
</div>
<% end %>