<div class="container products-show">
    <%= link_to products_path do %>
        <i class="fas fa-arrow-left fa-2x"></i>
        <% end %>
    <div class="card" style="width: 100%;">
    <%= image_tag @product.photo, class:"card-img-top" %>
    <div class="card-body">
        <h5 class="card-title"><%= @product.name %></h5>
        <p>CLP <%= @product.price %></p>
        <p class="card-text">Breve descripción del articulo de vestuario de Clothing Store.</p>
        <%= link_to product_orders_path(@product), method: :post do %>
        <p class="add-to-car">Add to car<i class="  fas fa-cart-plus fa-lg"></i></p>
        <% end %>
    </div>
    </div>
</div>