<div class="container products-show">
    <%= link_to products_path do %>
        <i class="fas fa-arrow-left fa-2x"></i>
        <% end %>
        
        <div class="row">
            <div class="col-xl" id="card-image">
                    <%= image_tag @product.photo, class:"card-img-top" %>
            </div>
            <div class="col">
                <h5 class="card-title"><%= @product.name %></h5><br>
                    <p>CLP <%= @product.price %></p><br>
                    <p class="card-text">Breve descripción del articulo de vestuario de Clothing Store.</p><br>
                    <%= link_to product_orders_path(@product), method: :post do %>
                    <button type="button" class="btn btn-lg btn-block add-to-car">Add to car<i class="  fas fa-cart-plus fa-lg"></i></button>

                    <% end %>
            </div>
        </div>

    
</div>