<div class="container products-show">
    <%= link_to products_path do %>
        <i class="fas fa-arrow-left fa-2x"></i>
        <% end %>
    <div class="card" style="width: 50%;">
    <%= image_tag @product.photo, class:"card-img-top" %>
    <div class="card-body">
        <h4 class="card-title"><%= @product.name %></h4>
        <p>CLP <%= @product.price %></p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to product_orders_path(@product), method: :post do %>
        <i class=" add-to-car fas fa-cart-plus fa-2x"></i>
        <% end %>
    </div>
    </div>
</div>